@import url('./sessoes/header&menu.css');
@import url('./sessoes/home.css');
@import url('./sessoes/sobreMin.css');
@import url('./sessoes/habilidade.css');
@import url('./sessoes/projetos.css');
@import url('./sessoes/carroselProjetos.css');
@import url('./sessoes/contratarServ.css');
@import url('./sessoes/footer.css');



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
Paleta de Cores Escura
Fundo Principal: #0D1117 (Fundo escuro neutro)
Fundo Secundário: #161B22 (Leve contraste para seções ou elementos destacados)
Texto Primário: #C9D1D9 (Texto claro para boa leitura)
Texto Secundário: #8B949E (Texto de suporte ou menos importante)
Destaques: #58A6FF (Azul brilhante para links ou elementos clicáveis)
Suporte: #21262D (Linhas ou divisores suaves)
Erro/Aviso: #F85149 (Vermelho para mensagens de erro ou avisos)

Como Usar
Background: Use as cores de fundo (#0D1117 e #161B22) para áreas principais e secundárias.
Texto: O texto principal em #C9D1D9 e texto de suporte em #8B949E para equilíbrio visual.
Destaques: Utilize o azul brilhante (#58A6FF) para interações como botões, links e ícones ativos.
Bordas/Divisores: Aplique o tom #21262D para criar separações suaves entre elementos.
Erros: O vermelho (#F85149) é ideal para mensagens de erro ou alertas.
*/

/* variaveis de cores, fontes, 
e tamanho das fontes */
:root {
    --fundo-pricipal: #0D1117;
    --fundo-secundario: #161B22;
    --texto-principal: #C9D1D9;
    --texto-secundario: #8B949E;
    --destaque: #4680c2;
    --suporte: #21262D;
    --erro: #F85149;

    --branco: #F0F1F2;
    --font-texto: "Roboto Mono", system-ui;
    --font-titulo2: "Oswald", sans-serif;
    --font-titulo: "Merriweather Sans", sans-serif;
    --font-g: 2.5rem;
    --font-m: 2rem;
    --font-p: 1rem;
    --font-pp: 0.8rem;
    
}



/* FIM DE SECTION HOME / COMECO DA SECTION SOBRE MIM -- FIM DE SECTION HOME / COMECO DA SECTION SOBRE MIM -- FIM DE SECTION HOME / COMECO DA SECTION SOBRE MIM --   */


















/* -RESPONSIVIDADE--RESPONSIVIDADE--RESPONSIVIDADE--RESPONSIVIDADE--RESPONSIVIDADE--RESPONSIVIDADE--RESPONSIVIDADE--RESPONSIVIDADE--RESPONSIVIDADE--RESPONSIVIDADE--RESPONSIVIDADE-*/

/* 1° responsividade */
@media (max-width: 1200px) {

    /* some div de especificacoes a direita */
    #espProjetos {
        display: none;
    }

    #menuNav {
        gap: 1.5rem;
    }

    /* exibe sapan que esta por cima da img em especificacoes de projetos */
    .legendaFoto {
        opacity: 1;
    }

    .h3esp {
        display: none;
    }

    .carousel-wrapper {
        width: 100%;
    }

    .card, 
    .cardProjeto {
        width: 300px;
        height: 180px;
    }
}










/* COMECO DA 2° RESPONSIVIDADE -- COMECO DA 2° RESPONSIVIDADE -- COMECO DA 2° RESPONSIVIDADE -- COMECO DA 2° RESPONSIVIDADE -- */
@media (min-width: 320px) and (max-width: 1060px) {

    #home {
        background-image: url('../img/fundo-p.jpg');
    }

    :root {
        --font-g: 2rem;
        --font-m: 1rem;
        --font-p: 0.8rem;
        --font-pp: 0.6rem;
    }

    /* oculta menu desktop */
    #menuNav {
        display: none;
    }

    /* exibe botao que ira abrir o menu mobile */
    .btnAbrir {
        display: flex;
    }

    /* fim do menu mobile*/


    /* comeco da secao sobre mim */
    /* section pai  */
    #sobreMin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* div principal, vai posicionar texto abaixo da foto e centralizalos */
    #conteudoMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 100%;
    }

    .tituloMe {
        margin-bottom: 25px;
    }

    /* div da direta que contem as informacoes pessoais */
    .direitaTexto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .direitaTexto p {
        text-align: center;
    }

    .fotoG {
        height: 300px;
    }

    .meRedes {
        margin: 0.5rem;
    }

    .h2Me {
        text-align: center;
        margin: 1rem;
    }

    .pSobre {
        text-align: center;
        display: flex;
        width: 90%;
    }

    /* comeco da tabela */
    .divTabela {
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    tbody {
        flex-wrap: nowrap;
        font-size: var(--font-p);
    }

    tr {
        border-left: solid 1px var(--castanho);
    }

    td {
        padding: 10px;
        margin: 10px;
    }

    /* fim da tabela e fim da section sobre mim */



    /* comeco da section de projetos */

    /* div pai que contem o lado direito(projetos) e o lado esquerdo (especificaoes) */
    #divP {
        padding: 1rem;

    }

    .divVideo video {
        margin-top: 10px;
        min-width: 400px;
        max-width: 100%;
    }

    /* fim da section de projetos */


    /* comeco da section de habilidades */
    #Hab {
        padding-top: 2rem;
    }

    .tituloH {
        padding: 1rem;
    }

    .divTec2 {
        padding: 1rem;
    }


    .sCursos {
        padding: 1rem;
    }
}



/* FIM DA RESPONSIVIDADE DE 1060 A 350 E COMECO DA RESPONSIVIDADE MAX 600 (MOBILE) --  FIM DA RESPONSIVIDADE DE 1060 A 350 E COMECO DA RESPONSIVIDADE MAX 600 (MOBILE)*/



@media (max-width: 600px) {

    .meRedes img,
    .social img,
    .button {
        height: 30px;
    }

    /* secao de home */
    .logo {
        font-size: var(--font-p);
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    /* secao de home */
    .logo h1 {
        font-size: 12pt;
    }

    /* header */
    .hCabecalho {
        height: 60px;
        justify-content: space-between;
    }

    /* conteudo principal de home(capa do portifolio) */
    #home2 {
        margin: 1rem;
        padding: 20px 0px 70px 0px;
    }

    #home2 h2 {
        text-align: center;
    }

    /* fim da capa do portifolio */



    /* comeco da sectio sobre mim */
    .tituloMe {
        font-size: var(--font-g);
        margin: 10px;
    }

    #sobreMin {
        padding: 10px;
    }


    /* começo da div da direita que contem o texto */
    .direitaTexto {
        width: 100%;
    }

    .direitaTexto p {
        width: 100%;
        text-align: center;
    }

    /* tabela */
    tbody {
        font-size: var(--font-pp);
    }

    td {
        padding: 2px;
        margin: 2px;
    }



    /* comeco da section de projetos */
    #divP {
        padding: 2px;
    }

    .projetosDiv {
        gap: 1rem;
    }

    .h1Projetos {
        padding: 10px;
    }

    .Qprojetos {
        padding: 0px;
    }

    .DimgProj {
        width: 100%;
    }

    .social1 {
        display: none;
    }

    .cardProjeto,
    .card {
        width: 150px;
        height: 100px;
    }

    .tituloProjeto {
        font-size: var(--font-p);
    }

    /* .tecUsadas {

    } */

.divTitulocard img {
    width: 15px;
    height: 15px;
    margin: 0.1rem
}


    .divVideo video {
        margin-top: 10px;
        min-width: 300px;
        max-width: 100%;
    }

    


/* div que aparece e some com o hover na div projeto */

/* div que aparece e some com o hover na div projeto */
.divBtnModal {
    border-radius: 0px 0px 8px 8px;
    padding: 0 8px;
    align-items: center;
    justify-content: center;
}

/* Quando o elemento pai (ex.: .cardProjeto) estiver em hover, o .divBtnModal é exibido */
.cardProjeto:hover .divBtnModal {
    height: 32px;
    padding: 0px 8px;
}

.divBtnModal .pStatus {
    display: none ;
}

.divBtnModal .btnProjeto {
    color: var(--texto-principal);
    font-size: 0.5rem;
    padding: 7px;
}

.modalEspcProjeto {
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    min-height: 250px;
}

/* btn fecha modal */
.btnCloseModal {
    width: 20px;
    height: 20px;
    top: 8px;
    right: 8px;
}

.divVideo video {
    width: 100%;
    min-width: unset;
    max-width: 100vw;
    margin-bottom: 8px;
}

.divVideo .btnsVideo {
    gap: 1rem;
}

.divVideo .btnsVideo button {
    font-size: 0.6rem;
    border-radius: 6px;
    padding: 4px;
}




.divEspecificacoes {
   
    min-width: 300px;
    
    gap: 1.5rem;
 
}

.divEspecificacoes .art {

    gap: 1rem;
 
}


.art .headerProj {
    font-size: var(--font-p);

}

.art h3 {
    margin-bottom: 6px;
    font-size: var(--font-p);

}

ul {
    padding-left: 20px;
}

ul li {
    font-size: var(--font-pp);
    line-height: 1.6;

}

p {
    font-size: var(--font-pp);
    line-height: 1.6;
    text-align: center;

}

















    /* fim da section projetos */



    /* comeco da secao habilidades */
    #Hab {
        padding: 10px;
    }

    .divTec2 div {
        padding: 10px;
        gap: 0.5rem;
    }

    .aCursos {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}