.hire-section {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-top: 3px solid var(--destaque);
  background: var(--fundo-secundario);
}

.hire-section h2 {
  font-family: var(--font-titulo);
  font-size: 1.5rem;
  color: var(--texto-principal);
  text-align: center;
  margin-bottom: 0.5rem;
  max-width: 800px;
  line-height: 1.5;
  padding-top: 2rem;
}

.buttons-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn {
  padding: 0.8rem 1.7rem;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-no {
  position: absolute;
  background-color: #ff4757;
  color: white;
  transition: all 0.3s ease;
  z-index: 10;
}

.btn-no:hover {
  transform: scale(1.05);
}

.btn-yes {
  background-color: #2ed573;
  color: white;
  position: relative;
  z-index: 5;
}

.btn-yes:hover {
  background-color: #26de81;
  transform: scale(1.1);
}

.btn-yes:active {
  transform: scale(0.95);
}

/* Responsivo */
@media (max-width: 768px) {
  .hire-section h2 {
    font-size: 1.5rem;
  }

  .buttons-container {
    height: 300px;
  }

  .btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
}